/* encoding="UTF-8"

Styles spécifiques au thème « ENC »
*************************************

Ici, couleurs etc.

[GB] Guillaume Bardet <guillaume.bardet@enc.sorbonne.fr> (créateur, mainteneur)
[VJ] Vincent Jolivet <vincent.jolivet@enc.sorbonne.fr> (contributeur)
[FG] Frédéric Glorieux <frederic.glorieux@enc.sorbonne.fr> (contributeur)


2009-10-14 [GB][VJ] Création

*/


body {
	background:#F2F2F2;
	color:#222;
	margin:0;
	padding:0;
	font-family:Frutiger, "Deja Vu Sans", Helvetica, sans-serif;
	line-height: 133%;
}
/** Disposition des div */

/* [FG] 2010-01 expérience faîte, impossible de virer container pour tirer les bordures.
Si padding pour les bordures ici, ne pas utiliser width:100% pour header et footer en absolute */
.container {
	/*
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left:2.5%;
	margin-right:2.5%;
	width:95%;
	*/
	/*left:2.5%;
	right:2.5%;
	padding:0 11px 0 11px;
	position:absolute;*/
	min-height:100%;
	width: 1100px;
	margin:0px auto;
	position:relative;
}

body > .container {
	position: relative;
	bottom: 0px;
	background: url("img/c-bg2.gif") no-repeat 18% 0;
}

#header {
	height:50px;
	background-color:#006699;
	color:#FFFFFF;
	text-align: left;
	border-bottom:1px solid #FFFFFF;
	font-family: Trykker, serif;
}
#header address {
	font-variant: small-caps;
}

#nav {
	float:left; /* [FG 2010-01] pose problèmes avec des clears, mais casse tout*/
	/* position:absolute; [FG] non*/
	clear:none;
	width:270px;
	color:black;
	margin:0;
	padding:15px 0 40px 0;
	font-family:Arial, sans-serif;
	/* [FG 2010-01] ou taille en pixels ? */
	font-size:12px;
	background-image:url('img/fond_menu_gauche_interieur.png');
	background-repeat:repeat-y;
	background-color:white;
	border-right:solid 1px #b3b3b3;
	border-bottom:solid 1px #b3b3b3;
  /* override for IE */
  filter:"progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
/* version du theme où le panneau de navigation est fixé */
body.fixed #nav {
	/*
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:100%;
	*/
	top:0;
	bottom:0;
	overflow:auto;
	padding:60px 2px 51px 2px;
	position:fixed;
  border-bottom:none;
}

body.fixed #footer {
}

body.fixed #header {
	position:absolute;
	background-image:url('img/banner.png');
	z-index:12;
  margin:0;
	left:0;
	right:0;
  top:0;
}
body.fixed #container {
	padding-top:51px;
}
body.fixed #toolbar {
  padding-left:275px;
}
body.fixed #ariane {
  margin-left:0;
}

/* VJ : si la navigation est insérée dans une iframe */
body.iframe #nav {
	border-right: none;
	width:300px;
	/*padding-top: 51px; //passer l'iframe sous le bandeau*/
}

#article {
	clear:none;
	background:white;
	padding:0;
	font-size:14px;
	min-height:500px;
}

.thecontent {
	margin: 0;
	margin-left:330px;
}


#footer {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	clear:both;
	background-image:url('img/footer.png');
	background-repeat:repeat-x;
	background-position:left bottom;
	/* height:28px; */
	font-size:14px;
	padding:4px 1em 2px 0;
	margin:0;
	text-align:center;
	position:absolute;
	bottom:0px;
	margin:0;
	left:0;
	right:0;
	z-index:10;
	/* width:100%;*/
	border:none;
}

a.logo:hover {
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
  background:none;
}
#logo {
	position: absolute;
	background-image:url('img/logo.png');
	background-repeat:no-repeat;
	width:86px;
	height:50px;
	margin:0 0 0 11px;
	padding:0;
}


.ariane,
#ariane {
	margin:0;
	padding:3px 5px 0px 295px;
	font-size:90%;
	line-height:110%;
	color : #5b5b5b;
	background:#E2DED0;
}
#toolbar {
	margin:0;
	padding:3px 10px 3px 10px;
	height:30px;
	font-size:100%;
	color : #000000;
	background:#DFDFDF;
	border-bottom:1px solid #b3b3b3;
}


/** Différentes couleurs et styles pour le HTML simple */

a {
	color : #315ba7;
	text-decoration: none;
}

a:hover {
  border-bottom:1px solid;
}

a:visited {
	color : #2b1476;
}

ul {
	list-style-image:url('img/puce_rouge.png');
}
ul ul {
  list-style:circle;
}
ul ul ul {
  list-style:disc;
}

h1 {
	text-align:center;
	font-size:18px;
}
h1, big, .h1 {
	color : #971716;
	text-shadow:1px 1px #DFDFDF;
}
h1 a, h1 a:visited {
	color:#971716;
}
h2 {
	/* du padding pour laisser de l'espace en cas de saut à l'ancre */
	padding : 1em 0 0 0;
	margin:1ex 0 1ex 0;
	font-size:16px;
	color:#971716;
  border-bottom:none;
}

h2 a, h2 a:visited {
	color:#903136;
}
h3 {
	font-size:14px;
	color:#999;
	padding : 1em 0 0 1ex;
	margin:1ex 0 1ex 0;
	border-bottom:1px dotted;
}

h3 a, h3 a:visited {
	color:#A73166;
}
h4 {
	font-size:16px;
	padding : 1em 0 1ex 2ex;
	color : #BBB;
}
hr {
  margin:2em auto 2.5em auto;

}
.rubric {
	/* titre rouge d'un manuscrit : http://www.tei-c.org/release/doc/tei-p5-doc/fr/html/ref-rubric.html */
	color:#971716;
}

/**********************
	Différentes images à trouver dans ce dossier
***********************/

.tree li {
	background-repeat:no-repeat;
	background-image:url('img/o.png');
	list-style:none;
}
.tree li.plus {
	background-image:url('img/plus.png');
}

.tree li.minus {
	background-image:url('img/minus.png');
}
li.here {
	background-color:#FFFFFF;
}

/* Cacher/montrer */
div.more div {
	display:none;
}
div.more *.summary {
	display:inline;
}
a.toggle {
	text-decoration:none;
}
div.less .toggle {
	display:inline;
	background-image:url('img/less.png');
	background-repeat:no-repeat;
	padding-right:16px;
}
div.less .toggle:hover {
	background-image:url('img/more.png');
}
div.more .toggle {
	display:inline;
	background-image:url('img/more.png');
	background-repeat:no-repeat;
	padding-right:16px;
}
div.more .toggle:hover {
	background-image:url('img/less.png');
}

/* gestion des puces pour la navigation centrale haute */
td.prev a {
	padding-left:20px;
	background-image:url("img/prev.png");
	background-position: left center;
	background-repeat:no-repeat;
}
a.prev {
	background-image:url("img/prev.png");
	background-position:left center;
	background-repeat:no-repeat;
	padding:1px 5px 1px 20px;
}
td.next a {
	padding-right:20px;
	background-position: right center;
	background-repeat:no-repeat;
	background-image:url(img/next.png);
}
a.next {
	background-image:url("img/next.png");
	background-position:right center;
	background-repeat:no-repeat;
	padding:1px 20px 1px 5px;
}

#header address a {
	color:#FFF;
}

#header address a:hover {
	text-decoration: none;
}
/** Habillage du chemin de fer */

#ariane a,
.ariane a {
	text-decoration: none;
	border-bottom:none;
	color : #5b5b5b;
}

#ariane a:hover,
.ariane a:hover {
	color : #000;
}


/** Menus gauche, habillages */

#nav a {
	text-decoration: none;
	color : #4D4D4D;
}
#nav a b {
	color : #000;
}

#nav a:hover{
	color : #4D4D4D;
}
#nav a:active,
#nav a:visited {
	color : #4D4D4D;
}
#nav ul,
#nav p {
	margin:5px 15px 0 10px;
	padding:0;
	text-align:left;
}
#nav li {
	list-style-position:inside;
}
#nav ul.tree {
	margin:0;
	padding:0 0 0 1ex;
}
#nav ul.long li {
	padding:4px 0;
}
#nav header,
#nav header a,
#nav header a:visited,
#nav strong,
#nav strong a,
#nav strong a:visited,
#nav address,
#nav address a,
#nav address a:visited,
#nav address a:link {
	color:#971716;
}
#nav header,
#nav address,
#nav strong {
  margin:0;
  padding:10px 0 6px 1ex;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  text-shadow:1px 1px #FFF;
  background:#971716;
  border:none;
}
/* cas où la table est inscrite dans une iframe
body.iframe #nav address {
	padding-top: 50px;
}
*/
#nav h6 {
	display:block;
	text-align:right;
	padding:6px 10px 0 10px;
	border-bottom:1px #b3b3b3 solid;
	margin:10px 10px 0 10px;
  font-size:100%;
  font-weight:normal;
}
#nav hr {
  border-top-color:#FFF;
  border-bottom-color:#DADA;
}
#nav .but {
	background-color:#FFF;
}
#nav a.title {
	color : #971716;
	display:block;
	padding:0 1ex;
  font-style:normal;
}
#nav div.index {
	padding:1ex;
}
.sommaire {
	 margin:-5px 0 0 -20px;
	 padding:0;
}


/** Liens typés avec icones */

a.aide {
	background-image:url('img/aide.png');
}
a.doc {
	background-image:url('img/doc.png');
}
a.biblio {
	background-image:url('img/biblio.png');
}
a.lab {
	background-image:url('img/lab.png');
}
a.telecharger {
	background-image:url('img/telecharger.png');
}
a.presentation {
	background-image:url('img/presentation.png');
}

a.historique {
	background-image:url('img/historique.png');
}
a.recherche_avancee {
	background-image:url('img/recherche_avancee.png');
}
/**********************
Style pour la boite de recherche
***********************/


.rechercher,
input.q {
	float:left;
	background-image:url('img/rechercher_gauche.png');
	background-repeat:no-repeat;
	border:none;
	width:155px;
	height:17px;
	margin:5px 0 0 14px;
	padding:1px 1ex 1px 1ex;
	/* [FG] 2009-09-09 pour mieux voir le mot cherché */
	color:#000;
	font-weight:bold;
	font-size:14px;
}

input.vide {
	float:left;
	color:#7F7F7F;
	font-weight:normal;
	font-style:italic;
}

.soumettre {
	float:left;
	border:0;
	background-image:url('img/rechercher_droit.png');
	background-repeat:no-repeat;
	width:20px;
	height:19px;
	cursor:pointer;
	margin:5px 0 0 0;
	padding:0;
}


/** Classe pour le pied de page */
#footer a {
	text-decoration: none;
	color : #5b5b5b;
	font-size: 90%;
  line-height:170%;
}
#footer a.link {
	padding:1px 1ex 1px 1ex;
}
#footer a.link:hover {
	border-bottom:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	text-decoration:none;
}

.nettoyer {
	clear:both;
}
/* [FG 2010-01] pourquoi tout ça ? */
div.recherche_avancee {
	float:left;
	margin:0;
	padding:7px 5px 5px 5px;
	width:80px
	height:16px;
}

div.historique{
	float:left;
	margin:0;
	padding:7px 5px 5px 5px;
	width:80px
	height:14px;
}

div.telecharger {
	float:left;
	margin:0;
	padding:7px 5px 5px 5px;
	width:80px;
	height:16px;
}
/* Pour une ligne de copyright discrète */
div.rights {
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#999;
}
div.rights a {
	color:#999;
  border:0;
}
/* Bloc étiqueté */
blockquote.label {
	padding:0 0 0 1ex;
	margin-left:0;
	margin-right:0;
}
blockquote.label label {
	font-weight:bold;
	padding:0 0 0 2em;
}
blockquote.label p {
	margin:1ex 0 1ex 0;
}
blockquote.label ul {
	margin-top:0;
	margin-bottom:0;
}
table.did {
	border:1px solid #CCC;
}
/* texte surligné */
mark {
  background:#FFC;
}
